body{width:100%;background-color:#68cdd5;font-size: 62.5%;font-family:Microsoft YaHei;}
.back{padding:5%;}
.logo{text-align: center;}
.logo img{width:40%;}
.middle{padding:10% 20%;}
.middle p{color: white;font-size: 2em;}
.left{float: left;padding-left: 15%;text-align: center;}
.left p{font-size: 2em;color: white;}
.right{float: right;padding-right: 15%;text-align: center;}
.right p{font-size: 2em;color: white;}
